@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#content{
  width: 90%;
  margin: 0 auto;
}
.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.Header a {
  text-decoration: none;
  color: white;
}

.Main {
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Characters-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.Characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.Characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-card h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.Characters-card h3{
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 20px;
}
.Characters-card h3 span{
  font-weight: 400;
}

.Characters-item {
  text-decoration: none;
  background-color: #151515;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  width: 30%;
}

.Characters-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Characters-item a {
  text-decoration: none;
  color: white;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 750px){
  .Characters-item{
    width: 46%;
  }
  
}
@media (max-width: 600px){
  .Characters-inner{
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0;
  }
}
@media (max-width: 450px){
  .Characters-inner{
    grid-template-columns: 1fr;
  }
}